
.register {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 30px;
  }
  
  .register-card {
    width: 400px;
  }
  
  .register-title {
    text-align: center;
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }