.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner-content {
  text-align: center;
}

.spinner-tip {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
}
